// |=============== FONT-FAMILY ===============>
// |CM| Main font-family
$primary-font-family: "Muller", system-ui;

// |=============== COLOR ===============>
// |CM| Change favorite color (Satin Sheen Gold - 40)
$hue-color: 40;
// |CM| HSL color mode
$primary-color: hsl($hue-color 60% 50%);
$second-color: hsl($hue-color 100% 70%);
$third-color: hsl(216 30% 27% / 0.84);
$fourth-color: hsl(216 22% 27% / 0);
$fifth-color: hsl(0 0% 95%);
$sixth-color: hsl(0 0% 91%);
$seventh-color: hsl(0 0% 88%);
$eighth-color: hsl(0 0% 80%);
$ninth-color: hsl(0 0% 77%);
$tenth-color: hsl(0 0% 60%);
$eleventh-color: hsl(0 0% 40%);
$twelfth-color: hsl(0 0% 20%);
// |CM| Colors for effects
$primary-color-effects: hsl($hue-color 80% 36%);
$second-color-effects: hsl($hue-color 72% 69%);
// |CM| Universal colors
$white-color: hsl(0 0% 100%);
$black-color: hsl(0 0% 0%);

// |=============== FONT-WEIGHT ===============>
// |CM| Main font-weight
$primary-font-weight: 500;
// |CM| Additional font-weights
$second-font-weight: 700;

// |=============== FONT-SIZE ===============>
// |CM| Base font-size ( .5rem = 8px, 1rem = 16px, 1.5rem = 24px ...)
$text-size-base: 16px;
// |CM| Different font-size options
$text-size-small: $text-size-base - 4px;
$text-size-medium: $text-size-base + 4px;
$text-size-big: $text-size-base + 14px;
$text-size-large: $text-size-base + 24px;
$text-size-huge: $text-size-base + 44px;

// |=============== LINE-HEIGHT ===============>
// |CM| Main line-height
$primary-lh: 1;
// |CM| Additional lines-heights
$second-lh: 1.5;
$third-lh: 2;

// |=============== BORDER-RADIUS ===============>
// |CM| Main border-radius
$primary-br: 10px;
// |CM| Additional border-radiuses
$second-br: 15px;

// |=============== GAP ===============>
// |CM| Specifying a fallback color for background images
$primary-gap: 22px;
$second-gap: 23px;
$third-gap: 24px;

// |=============== TRANSITION ===============>
// |CM| Duration of effects (most effective 0.2 to 0.4s)
$medium-transition-duration: 0.3s;
