<section class="section-accommodation section-accommodation_indent" id="section-accommodation">
  <h2 class="title section-accommodation__title">
    Размещение
  </h2>
  <ul class="list-accommodation section-accommodation__list">
    <li class="list-accommodation__item">
      <article class="list-accommodation__content">
        <picture>
          <source srcset="img/pictures/fr-hotel-espanola.avif, img/pictures/fr-hotel-espanola@2x.avif 2x, img/pictures/fr-hotel-espanola@3x.avif 3x" type="image/avif">
          <source srcset="img/pictures/fr-hotel-espanola.webp, img/pictures/fr-hotel-espanola@2x.webp 2x, img/pictures/fr-hotel-espanola@3x.webp 3x" type="image/webp">
          <img class="list-accommodation__picture" src="img/pictures/fr-hotel-espanola.png" srcset="img/pictures/fr-hotel-espanola@2x.png 2x, img/pictures/fr-hotel-espanola@3x.png 3x" width="374" height="217" decoding="async" loading="lazy" alt="На картинке изображен отель Эспанола.">
        </picture>
        <div class="list-accommodation__box">
          <div class="list-accommodation__inner">
            <span class="price-accommodation list-accommodation__price">
              <span class="price-accommodation__prefix">от</span>&nbsp;<span class="price-accommodation__amount">4&nbsp;698&nbsp;р</span>&nbsp;/ ночь
            </span>
            <figure class="box-star list-accommodation__star-box">
              <img class="box-star__picture" src="img/sprites/sprite.svg#icon-gold-star-bg" width="14" height="14" decoding="async" loading="lazy" alt="Рейтинг отеля: 4 из 5.">
              <img class="box-star__picture" src="img/sprites/sprite.svg#icon-gold-star-bg" width="14" height="14" decoding="async" loading="lazy" alt="">
              <img class="box-star__picture" src="img/sprites/sprite.svg#icon-gold-star-bg" width="14" height="14" decoding="async" loading="lazy" alt="">
              <img class="box-star__picture" src="img/sprites/sprite.svg#icon-gold-star-bg" width="14" height="14" decoding="async" loading="lazy" alt="">
              <img class="box-star__picture" src="img/sprites/sprite.svg#icon-empty-star-bg" width="14" height="14" decoding="async" loading="lazy" alt="">
            </figure>
          </div>
          <h3 class="list-accommodation__title" lang="en" translate="no">
            Lagoona espa&ntilde;ola
          </h3>
          <span class="list-accommodation__location">
            Барселона, Испания
          </span>
          <a class="btn list-accommodation__rooms" href="#">
            Номера
          </a>
        </div>
      </article>
    </li>
    <li class="list-accommodation__item">
      <article class="list-accommodation__content">
        <picture>
          <source srcset="img/pictures/fr-hotel-tipicas.avif, img/pictures/fr-hotel-tipicas@2x.avif 2x, img/pictures/fr-hotel-tipicas@3x.avif 3x" type="image/avif">
          <source srcset="img/pictures/fr-hotel-tipicas.webp, img/pictures/fr-hotel-tipicas@2x.webp 2x, img/pictures/fr-hotel-tipicas@3x.webp 3x" type="image/webp">
          <img class="list-accommodation__picture" src="img/pictures/fr-hotel-tipicas.png" srcset="img/pictures/fr-hotel-tipicas@2x.png 2x, img/pictures/fr-hotel-tipicas@3x.png 3x" width="374" height="217" decoding="async" loading="lazy" alt="На картинке изображен отель Типикас.">
        </picture>
        <div class="list-accommodation__box">
          <div class="list-accommodation__inner">
            <span class="price-accommodation list-accommodation__price">
              <span class="price-accommodation__prefix">от</span>&nbsp;<span class="price-accommodation__amount">5&nbsp;148&nbsp;р</span>&nbsp;/ ночь
            </span>
            <figure class="box-star list-accommodation__star-box">
              <img class="box-star__picture" src="img/sprites/sprite.svg#icon-gold-star-bg" width="14" height="14" decoding="async" loading="lazy" alt="Рейтинг отеля: 4 из 5.">
              <img class="box-star__picture" src="img/sprites/sprite.svg#icon-gold-star-bg" width="14" height="14" decoding="async" loading="lazy" alt="">
              <img class="box-star__picture" src="img/sprites/sprite.svg#icon-gold-star-bg" width="14" height="14" decoding="async" loading="lazy" alt="">
              <img class="box-star__picture" src="img/sprites/sprite.svg#icon-gold-star-bg" width="14" height="14" decoding="async" loading="lazy" alt="">
              <img class="box-star__picture" src="img/sprites/sprite.svg#icon-empty-star-bg" width="14" height="14" decoding="async" loading="lazy" alt="">
            </figure>
          </div>
          <h3 class="list-accommodation__title" lang="en" translate="no">
            Lagoona son t&iacute;picas
          </h3>
          <span class="list-accommodation__location">
            Барселона, Испания
          </span>
          <a class="btn list-accommodation__rooms" href="#">
            Номера
          </a>
        </div>
      </article>
    </li>
    <li class="list-accommodation__item">
      <article class="list-accommodation__content">
        <picture>
          <source srcset="img/pictures/fr-hotel-guerra.avif, img/pictures/fr-hotel-guerra@2x.avif 2x, img/pictures/fr-hotel-guerra@3x.avif 3x" type="image/avif">
          <source srcset="img/pictures/fr-hotel-guerra.webp, img/pictures/fr-hotel-guerra@2x.webp 2x, img/pictures/fr-hotel-guerra@3x.webp 3x" type="image/webp">
          <img class="list-accommodation__picture" src="img/pictures/fr-hotel-guerra.png" srcset="img/pictures/fr-hotel-guerra@2x.png 2x, img/pictures/fr-hotel-guerra@3x.png 3x" width="374" height="217" decoding="async" loading="lazy" alt="На картинке изображен отель Гуэрра.">
        </picture>
        <div class="list-accommodation__box">
          <div class="list-accommodation__inner">
            <span class="price-accommodation list-accommodation__price">
              <span class="price-accommodation__prefix">от</span>&nbsp;<span class="price-accommodation__amount">6&nbsp;254&nbsp;р</span>&nbsp;/ ночь
            </span>
            <figure class="box-star list-accommodation__star-box">
              <img class="box-star__picture" src="img/sprites/sprite.svg#icon-gold-star-bg" width="14" height="14" decoding="async" loading="lazy" alt="Рейтинг отеля: 5 из 5.">
              <img class="box-star__picture" src="img/sprites/sprite.svg#icon-gold-star-bg" width="14" height="14" decoding="async" loading="lazy" alt="">
              <img class="box-star__picture" src="img/sprites/sprite.svg#icon-gold-star-bg" width="14" height="14" decoding="async" loading="lazy" alt="">
              <img class="box-star__picture" src="img/sprites/sprite.svg#icon-gold-star-bg" width="14" height="14" decoding="async" loading="lazy" alt="">
              <img class="box-star__picture" src="img/sprites/sprite.svg#icon-gold-star-bg" width="14" height="14" decoding="async" loading="lazy" alt="">
            </figure>
          </div>
          <h3 class="list-accommodation__title" lang="en" translate="no">
            Lagoona de&nbsp;la&nbsp;guerra
          </h3>
          <span class="list-accommodation__location">
            Барселона, Испания
          </span>
          <a class="btn list-accommodation__rooms" href="#">
            Номера
          </a>
        </div>
      </article>
    </li>
    <li class="list-accommodation__item">
      <article class="list-accommodation__content">
        <picture>
          <source srcset="img/pictures/fr-hotel-piadosa.avif, img/pictures/fr-hotel-piadosa@2x.avif 2x, img/pictures/fr-hotel-piadosa@3x.avif 3x" type="image/avif">
          <source srcset="img/pictures/fr-hotel-piadosa.webp, img/pictures/fr-hotel-piadosa@2x.webp 2x, img/pictures/fr-hotel-piadosa@3x.webp 3x" type="image/webp">
          <img class="list-accommodation__picture" src="img/pictures/fr-hotel-piadosa.png" srcset="img/pictures/fr-hotel-piadosa@2x.png 2x, img/pictures/fr-hotel-piadosa@3x.png 3x" width="374" height="217" decoding="async" loading="lazy" alt="На картинке изображен отель Пиадоса.">
        </picture>
        <div class="list-accommodation__box">
          <div class="list-accommodation__inner">
            <span class="price-accommodation list-accommodation__price">
              <span class="price-accommodation__prefix">от</span>&nbsp;<span class="price-accommodation__amount">6&nbsp;320&nbsp;р</span>&nbsp;/ ночь
            </span>
            <figure class="box-star list-accommodation__star-box">
              <img class="box-star__picture" src="img/sprites/sprite.svg#icon-gold-star-bg" width="14" height="14" decoding="async" loading="lazy" alt="Рейтинг отеля: 5 из 5.">
              <img class="box-star__picture" src="img/sprites/sprite.svg#icon-gold-star-bg" width="14" height="14" decoding="async" loading="lazy" alt="">
              <img class="box-star__picture" src="img/sprites/sprite.svg#icon-gold-star-bg" width="14" height="14" decoding="async" loading="lazy" alt="">
              <img class="box-star__picture" src="img/sprites/sprite.svg#icon-gold-star-bg" width="14" height="14" decoding="async" loading="lazy" alt="">
              <img class="box-star__picture" src="img/sprites/sprite.svg#icon-gold-star-bg" width="14" height="14" decoding="async" loading="lazy" alt="">
            </figure>
          </div>
          <h3 class="list-accommodation__title" lang="en" translate="no">
            Lagoona mentira piadosa
          </h3>
          <span class="list-accommodation__location">
            Барселона, Испания
          </span>
          <a class="btn list-accommodation__rooms" href="#">
            Номера
          </a>
        </div>
      </article>
    </li>
    <li class="list-accommodation__item">
      <article class="list-accommodation__content">
        <picture>
          <source srcset="img/pictures/fr-hotel-empujar.avif, img/pictures/fr-hotel-empujar@2x.avif 2x, img/pictures/fr-hotel-empujar@3x.avif 3x" type="image/avif">
          <source srcset="img/pictures/fr-hotel-empujar.webp, img/pictures/fr-hotel-empujar@2x.webp 2x, img/pictures/fr-hotel-empujar@3x.webp 3x" type="image/webp">
          <img class="list-accommodation__picture" src="img/pictures/fr-hotel-empujar.png" srcset="img/pictures/fr-hotel-empujar@2x.png 2x, img/pictures/fr-hotel-empujar@3x.png 3x" width="374" height="217" decoding="async" loading="lazy" alt="На картинке изображен отель Эмпуджар.">
        </picture>
        <div class="list-accommodation__box">
          <div class="list-accommodation__inner">
            <span class="price-accommodation list-accommodation__price">
              <span class="price-accommodation__prefix">от</span>&nbsp;<span class="price-accommodation__amount">6&nbsp;457&nbsp;р</span>&nbsp;/ ночь
            </span>
            <figure class="box-star list-accommodation__star-box">
              <img class="box-star__picture" src="img/sprites/sprite.svg#icon-gold-star-bg" width="14" height="14" decoding="async" loading="lazy" alt="Рейтинг отеля: 4 из 5.">
              <img class="box-star__picture" src="img/sprites/sprite.svg#icon-gold-star-bg" width="14" height="14" decoding="async" loading="lazy" alt="">
              <img class="box-star__picture" src="img/sprites/sprite.svg#icon-gold-star-bg" width="14" height="14" decoding="async" loading="lazy" alt="">
              <img class="box-star__picture" src="img/sprites/sprite.svg#icon-gold-star-bg" width="14" height="14" decoding="async" loading="lazy" alt="">
              <img class="box-star__picture" src="img/sprites/sprite.svg#icon-empty-star-bg" width="14" height="14" decoding="async" loading="lazy" alt="">
            </figure>
          </div>
          <h3 class="list-accommodation__title" lang="en" translate="no">
            Lagoona empujar la&nbsp;creatividad
          </h3>
          <span class="list-accommodation__location">
            Барселона, Испания
          </span>
          <a class="btn list-accommodation__rooms" href="#">
            Номера
          </a>
        </div>
      </article>
    </li>
    <li class="list-accommodation__item">
      <article class="list-accommodation__content">
        <picture>
          <source srcset="img/pictures/fr-hotel-retorno.avif, img/pictures/fr-hotel-retorno@2x.avif 2x, img/pictures/fr-hotel-retorno@3x.avif 3x" type="image/avif">
          <source srcset="img/pictures/fr-hotel-retorno.webp, img/pictures/fr-hotel-retorno@2x.webp 2x, img/pictures/fr-hotel-retorno@3x.webp 3x" type="image/webp">
          <img class="list-accommodation__picture" src="img/pictures/fr-hotel-retorno.png" srcset="img/pictures/fr-hotel-retorno@2x.png 2x, img/pictures/fr-hotel-retorno@3x.png 3x" width="374" height="217" decoding="async" loading="lazy" alt="На картинке изображен отель Реторно.">
        </picture>
        <div class="list-accommodation__box">
          <div class="list-accommodation__inner">
            <span class="price-accommodation list-accommodation__price">
              <span class="price-accommodation__prefix">от</span>&nbsp;<span class="price-accommodation__amount">6&nbsp;320&nbsp;р</span>&nbsp;/ ночь
            </span>
            <figure class="box-star list-accommodation__star-box">
              <img class="box-star__picture" src="img/sprites/sprite.svg#icon-gold-star-bg" width="14" height="14" decoding="async" loading="lazy" alt="Рейтинг отеля: 4 из 5.">
              <img class="box-star__picture" src="img/sprites/sprite.svg#icon-gold-star-bg" width="14" height="14" decoding="async" loading="lazy" alt="">
              <img class="box-star__picture" src="img/sprites/sprite.svg#icon-gold-star-bg" width="14" height="14" decoding="async" loading="lazy" alt="">
              <img class="box-star__picture" src="img/sprites/sprite.svg#icon-gold-star-bg" width="14" height="14" decoding="async" loading="lazy" alt="">
              <img class="box-star__picture" src="img/sprites/sprite.svg#icon-empty-star-bg" width="14" height="14" decoding="async" loading="lazy" alt="">
            </figure>
          </div>
          <h3 class="list-accommodation__title" lang="en" translate="no">
            Lagoona el&nbsp;retorno
          </h3>
          <span class="list-accommodation__location">
            Барселона, Испания
          </span>
          <a class="btn list-accommodation__rooms" href="#">
            Номера
          </a>
        </div>
      </article>
    </li>
    <li class="list-accommodation__item">
      <article class="list-accommodation__content">
        <picture>
          <source srcset="img/pictures/fr-hotel-mentira.avif, img/pictures/fr-hotel-mentira@2x.avif 2x, img/pictures/fr-hotel-mentira@3x.avif 3x" type="image/avif">
          <source srcset="img/pictures/fr-hotel-mentira.webp, img/pictures/fr-hotel-mentira@2x.webp 2x, img/pictures/fr-hotel-mentira@3x.webp 3x" type="image/webp">
          <img class="list-accommodation__picture" src="img/pictures/fr-hotel-mentira.png" srcset="img/pictures/fr-hotel-mentira@2x.png 2x, img/pictures/fr-hotel-mentira@3x.png 3x" width="374" height="217" decoding="async" loading="lazy" alt="На картинке изображен отель Ментира.">
        </picture>
        <div class="list-accommodation__box">
          <div class="list-accommodation__inner">
            <span class="price-accommodation list-accommodation__price">
              <span class="price-accommodation__prefix">от</span>&nbsp;<span class="price-accommodation__amount">6&nbsp;505&nbsp;р</span>&nbsp;/ ночь
            </span>
            <figure class="box-star list-accommodation__star-box">
              <img class="box-star__picture" src="img/sprites/sprite.svg#icon-gold-star-bg" width="14" height="14" decoding="async" loading="lazy" alt="Рейтинг отеля: 5 из 5.">
              <img class="box-star__picture" src="img/sprites/sprite.svg#icon-gold-star-bg" width="14" height="14" decoding="async" loading="lazy" alt="">
              <img class="box-star__picture" src="img/sprites/sprite.svg#icon-gold-star-bg" width="14" height="14" decoding="async" loading="lazy" alt="">
              <img class="box-star__picture" src="img/sprites/sprite.svg#icon-gold-star-bg" width="14" height="14" decoding="async" loading="lazy" alt="">
              <img class="box-star__picture" src="img/sprites/sprite.svg#icon-gold-star-bg" width="14" height="14" decoding="async" loading="lazy" alt="">
            </figure>
          </div>
          <h3 class="list-accommodation__title" lang="en" translate="no">
            Lagoona mentira piadosa
          </h3>
          <span class="list-accommodation__location">
            Барселона, Испания
          </span>
          <a class="btn list-accommodation__rooms" href="#">
            Номера
          </a>
        </div>
      </article>
    </li>
    <li class="list-accommodation__item">
      <article class="list-accommodation__content">
        <picture>
          <source srcset="img/pictures/fr-hotel-suerte.avif, img/pictures/fr-hotel-suerte@2x.avif 2x, img/pictures/fr-hotel-suerte@3x.avif 3x" type="image/avif">
          <source srcset="img/pictures/fr-hotel-suerte.webp, img/pictures/fr-hotel-suerte@2x.webp 2x, img/pictures/fr-hotel-suerte@3x.webp 3x" type="image/webp">
          <img class="list-accommodation__picture" src="img/pictures/fr-hotel-suerte.png" srcset="img/pictures/fr-hotel-suerte@2x.png 2x, img/pictures/fr-hotel-suerte@3x.png 3x" width="374" height="217" decoding="async" loading="lazy" alt="На картинке изображен отель Суэрте.">
        </picture>
        <div class="list-accommodation__box">
          <div class="list-accommodation__inner">
            <span class="price-accommodation list-accommodation__price">
              <span class="price-accommodation__prefix">от</span>&nbsp;<span class="price-accommodation__amount">6&nbsp;824&nbsp;р</span>&nbsp;/ ночь
            </span>
            <figure class="box-star list-accommodation__star-box">
              <img class="box-star__picture" src="img/sprites/sprite.svg#icon-gold-star-bg" width="14" height="14" decoding="async" loading="lazy" alt="Рейтинг отеля: 4 из 5.">
              <img class="box-star__picture" src="img/sprites/sprite.svg#icon-gold-star-bg" width="14" height="14" decoding="async" loading="lazy" alt="">
              <img class="box-star__picture" src="img/sprites/sprite.svg#icon-gold-star-bg" width="14" height="14" decoding="async" loading="lazy" alt="">
              <img class="box-star__picture" src="img/sprites/sprite.svg#icon-gold-star-bg" width="14" height="14" decoding="async" loading="lazy" alt="">
              <img class="box-star__picture" src="img/sprites/sprite.svg#icon-empty-star-bg" width="14" height="14" decoding="async" loading="lazy" alt="">
            </figure>
          </div>
          <h3 class="list-accommodation__title" lang="en" translate="no">
            Lagoona suerte sigui&oacute; siempre
          </h3>
          <span class="list-accommodation__location">
            Барселона, Испания
          </span>
          <a class="btn list-accommodation__rooms" href="#">
            Номера
          </a>
        </div>
      </article>
    </li>
    <li class="list-accommodation__item list-accommodation__item_all">
      <a class="list-accommodation__watch" href="#">
        Посмотреть все варианты
      </a>
    </li>
  </ul>
</section>
