<section class="section-advantages section-advantages_indent" id="section-advantages">
  <div class="container section-advantages__container">
    <h2 class="title section-advantages__title">
      Преимущества
    </h2>
    <ul class="list-advantages section-advantages__list">
      <li class="list-advantages__item list-advantages__item_bathtub">
        <p class="list-advantages__desc">
          Идейные соображения высшего порядка, а&nbsp;также постоянный количественный рост
        </p>
      </li>
      <li class="list-advantages__item list-advantages__item_hanger">
        <p class="list-advantages__desc">
          Значимость этих проблем настолько очевидна, что вопрос остается открытым
        </p>
      </li>
      <li class="list-advantages__item list-advantages__item_heating">
        <p class="list-advantages__desc">
          Таким образом реализация плановых заданий играет важную роль для понимания
        </p>
      </li>
      <li class="list-advantages__item list-advantages__item_hotel-key">
        <p class="list-advantages__desc">
          Повседневная практика показывает, что сложившаяся структура организации
        </p>
      </li>
      <li class="list-advantages__item list-advantages__item_parking">
        <p class="list-advantages__desc">
          Равным образом рамки и&nbsp;место обучения кадров способствует подготовки сотрудника
        </p>
      </li>
      <li class="list-advantages__item list-advantages__item_reception">
        <p class="list-advantages__desc">
          Консультация с&nbsp;активом влечет за&nbsp;собой процесс внедрения услуг нашего сервиса
        </p>
      </li>
      <li class="list-advantages__item list-advantages__item_security-box">
        <p class="list-advantages__desc">
          Повседневная практика показывает, что дальнейшее развитие различных форм
        </p>
      </li>
      <li class="list-advantages__item list-advantages__item_swimming-pool">
        <p class="list-advantages__desc">
          Значимость этого настолько очевидна, что консультация наших экспертов помогает
        </p>
      </li>
    </ul>
  </div>
</section>
