<section class="section-contacts" id="section-contacts">
  <div class="container section-contacts__container">
    <h2 class="title section-contacts__title">
      Контакты
    </h2>
    <div class="box-contacts section-contacts__box">
      <div class="box-contacts__inner">
        <div class="content-contacts box-contacts__content">
          <h3 class="content-contacts__title">
            Адрес
          </h3>
          <address class="content-contacts__address">
            Москва, улица Юности, дом 5&nbsp;строение&nbsp;4, офис&nbsp;2
          </address>
        </div>
        <div class="content-contacts box-contacts__content">
          <h3 class="content-contacts__title">
            Телефоны
          </h3>
          <div class="content-contacts__box-phones">
            <a class="content-contacts__link" href="tel:+74995356434">
              +7 (499) 535-64-34
            </a>
            <a class="content-contacts__link" href="tel:+74950050544">
              +7 (495) 005-05-44
            </a>
          </div>
        </div>
        <div class="content-contacts box-contacts__content">
          <h3 class="content-contacts__title" lang="en">
            E-mail
          </h3>
          <div class="content-contacts__box-mails">
            <a class="content-contacts__link" href="mailto:lg.oona@mail.ru">
              lg.oona@mail.ru
            </a>
            <span class="content-contacts__desc">
              по&nbsp;вопросам бронирования
            </span>
            <a class="content-contacts__link" href="mailto:hotels.ln@mail.ru">
              hotels.ln@mail.ru
            </a>
            <span class="content-contacts__desc">
              по&nbsp;вопросам сотрудничества
            </span>
          </div>
        </div>
        <div class="content-contacts box-contacts__content">
          <h3 class="content-contacts__title">
            График
          </h3>
          <span class="content-contacts__schedule">
            Понедельник&nbsp;&mdash; пятница, с&nbsp;10:00 до&nbsp;19:00
          </span>
        </div>
        <button class="btn box-contacts__plot-course" type="button">
          Построить маршрут
        </button>
      </div>
      <div class="box-contacts__picture"></div>
    </div>
  </div>
</section>
