<section class="section-offers section-offers_indent">
  <div class="container section-offers__container">
    <h2 class="title section-offers__title">
      Спецпредложения
    </h2>
    <ul class="list-offers section-offers__list">
      <li class="list-offers__item">
        <a class="list-offers__link" href="#">
          <article class="list-offers__content list-offers__content_maldives">
            <h3 class="list-offers__title">
              Мальдивские острова
            </h3>
            <span class="list-offers__price">
              от&nbsp;55&nbsp;000&nbsp;р
            </span>
            <span class="list-offers__more">
              Подробнее
            </span>
          </article>
        </a>
      </li>
      <li class="list-offers__item list-offers__item_luxury">
        <a class="list-offers__link" href="#">
          <article class="list-offers__content list-offers__content_luxury">
            <h3 class="list-offers__title list-offers__title_big">
              Номера категории люкс
            </h3>
            <span class="list-offers__price list-offers__price_big">
              от&nbsp;5000&nbsp;р
            </span>
            <span class="list-offers__more">
              Подробнее
            </span>
          </article>
        </a>
      </li>
      <li class="list-offers__item">
        <a class="list-offers__link" href="#">
          <article class="list-offers__content list-offers__content_krit">
            <h3 class="list-offers__title">
              Горящий тур на&nbsp;остров Крит
            </h3>
            <span class="list-offers__price">
              от&nbsp;30&nbsp;000&nbsp;р
            </span>
            <span class="list-offers__more">
              Подробнее
            </span>
          </article>
        </a>
      </li>
    </ul>
  </div>
</section>
