<section class="section-services section-services_indent" id="section-services">
  <div class="container section-services__container">
    <h2 class="title section-services__title">
      Услуги
    </h2>
    <ul class="list-services section-services__list">
      <li class="list-services__item">
        <a class="list-services__link" href="#">
          <article class="list-services__content list-services__content_champagne">
            <h3 class="list-services__title">
              Эксклюзивное обслуживание
              <svg class="list-services__icon" width="11" height="18" aria-hidden="true">
                <use xlink:href="img/sprites/sprite.svg#icon-right-arrow-services" />
              </svg>
            </h3>
            <p class="list-services__desc">
              Равным образом постоянный количественный рост и&nbsp;сфера нашей активности
            </p>
          </article>
        </a>
      </li>
      <li class="list-services__item">
        <a class="list-services__link" href="#">
          <article class="list-services__content list-services__content_table">
            <h3 class="list-services__title">
              Аренда банкетных залов
              <svg class="list-services__icon" width="11" height="18" aria-hidden="true">
                <use xlink:href="img/sprites/sprite.svg#icon-right-arrow-services" />
              </svg>
            </h3>
            <p class="list-services__desc">
              Значимость этих проблем настолько очевидна, что дальнейшее развитие различных форм.
            </p>
          </article>
        </a>
      </li>
      <li class="list-services__item">
        <a class="list-services__link" href="#">
          <article class="list-services__content list-services__content_pool">
            <h3 class="list-services__title">
              Сауны, бассейны, бани, фитнес-залы
              <svg class="list-services__icon" width="11" height="18" aria-hidden="true">
                <use xlink:href="img/sprites/sprite.svg#icon-right-arrow-services" />
              </svg>
            </h3>
            <p class="list-services__desc">
              Не&nbsp;следует, однако забывать, что начало повседневной работы по&nbsp;формированию позиции
            </p>
          </article>
        </a>
      </li>
      <li class="list-services__item">
        <a class="list-services__link" href="#">
          <article class="list-services__content list-services__content_parking">
            <h3 class="list-services__title">
              Охраняемые автомобильные стоянки
              <svg class="list-services__icon" width="11" height="18" aria-hidden="true">
                <use xlink:href="img/sprites/sprite.svg#icon-right-arrow-services" />
              </svg>
            </h3>
            <p class="list-services__desc">
              Не&nbsp;следует, однако забывать, что начало повседневной работы по&nbsp;формированию позиции
            </p>
          </article>
        </a>
      </li>
    </ul>
  </div>
</section>
