<section class="section-services section-services_indent" id="section-services">
  <div class="container section-services__container">
    <h2 class="title section-services__title">
      Услуги
    </h2>
    <ul class="list-services section-services__list">
      <li class="list-services__item">
        <a class="list-services__link" href="#">
          <article class="list-services__content">
            <h3 class="list-services__title">
              Эксклюзивное обслуживание
            </h3>
            <p class="list-services__desc">
              Равным образом постоянный количественный рост и&nbsp;сфера нашей активности
            </p>
          </article>
        </a>
      </li>
      <li class="list-services__item">
        <a class="list-services__link" href="#">
          <article class="list-services__content">
            <h3 class="list-services__title">
              Аренда банкетных залов
            </h3>
            <p class="list-services__desc">
              Значимость этих проблем настолько очевидна, что дальнейшее развитие различных форм.
            </p>
          </article>
        </a>
      </li>
      <li class="list-services__item">
        <a class="list-services__link" href="#">
          <article class="list-services__content">
            <h3 class="list-services__title">
              Сауны, бассейны, бани, фитнес-залы
            </h3>
            <p class="list-services__desc">
              Не&nbsp;следует, однако забывать, что начало повседневной работы по&nbsp;формированию позиции
            </p>
          </article>
        </a>
      </li>
      <li class="list-services__item">
        <a class="list-services__link" href="#">
          <article class="list-services__content">
            <h3 class="list-services__title">
              Охраняемые автомобильные стоянки
            </h3>
            <p class="list-services__desc">
              Не&nbsp;следует, однако забывать, что начало повседневной работы по&nbsp;формированию позиции
            </p>
          </article>
        </a>
      </li>
    </ul>
  </div>
</section>
