<footer class="site-footer">
  <div class="container site-footer__container">
    <div class="left-footer site-footer__left">
      <p class="left-footer__copy">
        &copy;&nbsp;2012-2020 Управляющая компания Объединенной сети &laquo;Лагуна Хотелс&raquo;
      </p>
      <p class="left-footer__text">
        Представленная на&nbsp;сайте информация носит справочный характер и&nbsp;не&nbsp;является публичной офертой
      </p>
      <a class="left-footer__user-agreement" href="#">
        Пользовательское соглашение
      </a>
    </div>
    <div class="middle-footer site-footer__middle">
      <address class="middle-footer__address">
        11710, улица Юности, дом 5&nbsp;строение&nbsp;4, офис&nbsp;2
      </address>
      <a class="middle-footer__link" href="tel:+74995356434">
        +7 (499) 535-64-34
      </a>
      <a class="middle-footer__link middle-footer__link_indent" href="tel:+74950050544">
        +7 (495) 005-05-44
      </a>
      <a class="middle-footer__link" href="mailto:lg.oona@mail.ru">
        lg.oona@mail.ru
      </a>
      <a class="middle-footer__link" href="mailto:hotels.ln@mail.ru">
        hotels.ln@mail.ru
      </a>
    </div>
    <ul class="socials-footer site-footer__socials">
      <li class="socials-footer__item">
        <a class="socials-footer__link" href="#" target="_blank" rel="noopener" aria-label="Страница Трипадвизор.">
          <svg class="socials-footer__icon" width="25" height="25" aria-hidden="true">
            <use xlink:href="img/sprites/sprite.svg#icon-tripadvisor" />
          </svg>
        </a>
      </li>
      <li class="socials-footer__item">
        <a class="socials-footer__link" href="#" target="_blank" rel="noopener" aria-label="Страница Твиттер.">
          <svg class="socials-footer__icon" width="25" height="25" aria-hidden="true">
            <use xlink:href="img/sprites/sprite.svg#icon-twitter" />
          </svg>
        </a>
      </li>
      <li class="socials-footer__item">
        <a class="socials-footer__link" href="#" target="_blank" rel="noopener" aria-label="Страница Фейсбук.">
          <svg class="socials-footer__icon" width="25" height="25" aria-hidden="true">
            <use xlink:href="img/sprites/sprite.svg#icon-facebook" />
          </svg>
        </a>
      </li>
      <li class="socials-footer__item">
        <a class="socials-footer__link" href="#" target="_blank" rel="noopener" aria-label="Страница Вконтакте.">
          <svg class="socials-footer__icon" width="25" height="25" aria-hidden="true">
            <use xlink:href="img/sprites/sprite.svg#icon-vkontakte" />
          </svg>
        </a>
      </li>
      <li class="socials-footer__item">
        <a class="socials-footer__link" href="#" target="_blank" rel="noopener" aria-label="Страница Инстаграм.">
          <svg class="socials-footer__icon" width="25" height="25" aria-hidden="true">
            <use xlink:href="img/sprites/sprite.svg#icon-instagram" />
          </svg>
        </a>
      </li>
    </ul>
  </div>
</footer>
